*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: hsl(202, 86%, 94%) ;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 850px;
    height: fit-content;
    border-radius: 20px;
    background:  hsl(0, 0%, 100%);
  
}

.container-1{
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 1.5rem;
    /* border: 2px solid; */
}

#mortage-calcultor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin-top: 1rem;
}
#mortage-calcultor h3{
    font-size: 20px;
    font-weight: 900;
    color: hsl(202, 55%, 16%);
}
#mortage-calcultor #clear{
    font-size: 14px;
    font-weight: 600;
    color: hsl(200, 26%, 54%);
    border-bottom: 2px solid hsl(201, 57%, 75%);
    margin-right: 15px;
    cursor: pointer;
}



.mortage-amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1.3rem;
}

.mortage-amount p{
    font-size: 13px;
    font-weight: 700;
    color: hsl(203, 26%, 57%);
}

.input-style{
    display: flex;
    border: 1px solid hsl(200, 24%, 40%);
    width: 85%;
    height: 5vh;
    border-radius: 4px;
}
.input-style-1{
    width: 35px;
    background-color: hsl(202, 86%, 94%);
    text-align: center;
    padding-top: 8px;
    color:hsl(200, 26%, 54%) ;
    font-weight: bold;
}
.input-style-2 input{
    border: none;
    padding-left: 0.5rem;
    padding-top: 7px;
    outline: none;
    font-weight: bold;
    color:hsl(200, 26%, 54%) ;
}

.mortage-team-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-right: 4.6rem;
}


.inner-mortage-team-flex p{
    font-size: 13px;
    font-weight: 500;
    color: hsl(200, 24%, 40%);
    margin-right: 1rem;
    margin-bottom: 10px;
}
.mortage-team-input-style{
    border: 2px solid hsl(203, 41%, 72%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:145px; 
    line-height: 2rem;
    border-radius: 5px;
    
}
.mortage-team-input-style-1 input{
    width: 5vw;
    border: none;
    margin-right: 20px;
    padding-top: 7px;
    padding-left: 8px;
    outline: none;
    font-weight: bold;
    color:hsl(199, 22%, 30%) ;
}


.mortage-team-input-style-2{
    width: 58px;
    background-color: hsl(202, 86%, 94%);
    text-align: center;
    padding-top: 3px;
    color:hsl(200, 26%, 54%) ;
    font-weight: bold;
    font-size: 17px;
   
}

.inner-mortage-team-flex-2{
    margin-left: 12px;
}
.inner-mortage-team-flex-2 p{
    font-size: 13px;
    font-weight: 500;
    color: hsl(200, 24%, 40%);
    margin-right: 1rem;
    margin-bottom: 10px;
}

.inner-mortage-team-input-style{
    border: 2px solid hsl(203, 41%, 72%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:145px; 
    line-height: 2rem;
    border-radius: 5px;
    
}

.inner-mortage-team-input-style input{
    width: 5vw;
    border: none;
    margin-right: 40px;
    padding-top: 7px;
    padding-left: 8px;
    outline: none;
    font-weight: bold;
    color:hsl(201, 22%, 34%) ;
}

.inner-mortage-team-input-style-2{
    width: 58px;
    background-color: hsl(202, 86%, 94%);
    text-align: center;
    padding-top: 3px;
    color:hsl(200, 26%, 54%) ;
    font-weight: bold;
}


.Mortgage-type{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Mortgage-type p{
    font-size: 13px;
    font-weight: 700;
    color: hsl(203, 21%, 51%);
    margin-bottom: 3px;
}

.mortage-radio-style{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid hsl(200, 24%, 40%);
    width: 85%;
    height: 5vh;
    border-radius: 4px;
    padding-left: 10px;
    
}
.mortage-radio-style input{
    cursor: pointer;

}



.mortage-radio-style label{
    color: hsl(202, 55%, 16%);
    font-weight: 900;
    font-size: 12px;
}



button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem ;
    border-radius: 20px;
    background: hsl(61, 70%, 52%);
    border: none;
    color: hsl(202, 55%, 16%);
    height: 5.5vh;
    width: 15vw;
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 2rem;
    cursor: pointer;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    transition: transform 0.6s ; 
    z-index: 20;
    text-align: center;
}
#valid{
  z-index: 10;
 margin-top: 4rem;
 margin-left: 3rem;
 height: 40vh;
 width: 30vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background-color: hsl(202, 55%, 16%);
  color: white;
  font-weight: 900;
  
 
}
 .overlay{
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.5);
transition: 0.6s;
}
    


 .container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(202, 55%, 16%);
    height: 68vh;
    width: 50%;
    border-radius:0 20px 20px 60px;
    padding-left: 10px;
}  




.text-container{
  margin-top: 1.5rem;
  max-width: 85%;
}

.text-container h4{
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.8rem;
}

.text-container p{
    font-size: 13px;
    font-weight: 300;
    color:hsl(0, 11%, 91%) ;
}


.result-container{
    margin-top: 2rem;
    border: none;
    box-shadow: 3px 5px hsl(61, 70%, 52%);
    width: 85%;
    height: 35vh;
    border-radius: 10px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.result-container .monthly{
    font-size: 13px;
    color:hsl(0, 25%, 92%) ;
    margin-bottom: 0.8rem;
}

.result h2{
    font-size: 30px;
    color: hsl(61, 70%, 52%);
    margin-bottom:3rem ;
    border-bottom: 0.5px solid hsl(202, 44%, 96%);
    height: 10vh;
    width: 15vw;
}

.Total{
    color: hsl(0, 25%, 92%); 
    font-size: 13px
}

.yearly-result{
    margin-top: 0.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 765px) {
  
    main{
        display: flex;
        flex-direction: column;
        width: 100vw;
     }

     .butcal{
        width: 50vw;
        padding: 20px;
     }
 
     .container-1{
         width: 100%;
     }
   .mortage-team-flex{
    margin-inline-end: 150px;
   }
   .mortage-team-input-style-1{
        background: transparent;  
     
   }
   .mortage-team-input-style-1 input{
    background: transparent;  
    width: 10vw;
 
}
   .container-2 {
    width: 100%;
    border-radius: 26px 26px 0 0;
   }
   .mortage-team-input-style-2 {
    width: fit-content;
    margin-left: 1.6rem;
   }

   .inner-mortage-team-input-style input {
    width: 10vw;
   }
}
  
