:root{


    --background : hsl(202, 86%, 94%);
    --background_overall : #fff;
    --inner_background :  hsl(202, 55%, 16%);
    --bold_colors: hsl(202, 55%, 16%);
    --light_colors :hsl(200, 26%, 54%);
    --input_background :  hsl(202, 86%, 94%);
     --gold : hsl(61, 70%, 52%);
     --text : #fff;
     --overlay :rgba(0,0,0,0.5);
}


.darkmode {
    
    --background : hsl(0, 0%, 0%);
    --background_overall : hsl(0, 0%, 30%);
    --bold_colors: hsl(201, 68%, 93%);
    --light_colors :hsl(200, 88%, 3%);
    --input_background :  hsl(0, 0%, 30%);
     --gold : hsl(61, 88%, 28%);
     --text : #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:var(--background) ;
    transition: all 1s ease-in-out;

}
.theme{
    position: absolute;
    top:2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 20px;
    cursor: pointer;
    background-color: var(--gold);
    border-radius: 20px;
}
.theme :nth-child(1){
    display: none;
}

.darkmode .theme :nth-child(1){
    display: block;
}

.darkmode .theme :nth-child(2){
    display: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 850px;
    height: fit-content;
    border-radius: 20px;
    background:  var(--background_overall);
  
}

.container-1{
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 1.5rem;
    /* border: 2px solid; */
}

#mortage-calcultor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin-top: 1rem;
}
#mortage-calcultor h3{
    font-size: 20px;
    font-weight: 900;
    color: var(--bold_colors);
}
#mortage-calcultor #clear{
    font-size: 14px;
    font-weight: 600;
    color:var(--light_colors);
    border-bottom: 2px solid var(--input_background);
    margin-right: 15px;
    cursor: pointer;
}



.mortage-amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1.3rem;
}

.mortage-amount p{
    font-size: 13px;
    font-weight: 700;
    color:var(--bold_colors);
}

.input-style{
    display: flex;
    border: 1px solid var(--bold_colors);
    width: 85%;
    height: 5vh;
    border-radius: 4px;
}
.input-style-1{
    width: 35px;
    background-color: var(--input_background);
    text-align: center;
    padding-top: 8px;
    color:var(--light_colors);
    font-weight: bold;
}
.input-style-2 input{
    border: none;
    padding-left: 0.5rem;
    padding-top: 7px;
    outline: none;
    font-weight: bold;
    color:var(--light_colors);
    background-color: var(--background_overall);
}

.mortage-team-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-right: 4.6rem;
}


.inner-mortage-team-flex p{
    font-size: 13px;
    font-weight: 500;
    color: var(--light_colors);
    margin-right: 1rem;
    margin-bottom: 10px;
}
.mortage-team-input-style{
    border: 1px solid var(--bold_colors);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:145px; 
    line-height: 2rem;
    border-radius: 5px;
    
}
.mortage-team-input-style-1 input{
    width: 5vw;
    border: none;
    margin-right: 20px;
    padding-top: 7px;
    padding-left: 8px;
    outline: none;
    font-weight: bold;
    color:var(--light_colors);
    background-color: var(--background_overall);
}


.mortage-team-input-style-2{
    width: 58px;
    background-color:var(--input_background);
    text-align: center;
    padding-top: 3px;
    color:var(--light_colors) ;
    font-weight: bold;
    font-size: 17px;
    transform: translateX(-1px);
   
}

.inner-mortage-team-flex-2{
    margin-left: 12px;
}
.inner-mortage-team-flex-2 p{
    font-size: 13px;
    font-weight: 500;
    color: var(--light_colors);
    margin-right: 1rem;
    margin-bottom: 10px;
}

.inner-mortage-team-input-style{
    border: 1px solid var(--bold_colors);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:145px; 
    line-height: 2rem;
    border-radius: 5px;
    
    
}

.inner-mortage-team-input-style input{
    width: 5vw;
    border: none;
    margin-right: 40px;
    padding-top: 7px;
    padding-left: 8px;
    outline: none;
    font-weight: bold;
    color:var(--bold_colors);
    background-color: var(--background_overall);
}

.inner-mortage-team-input-style-2{
    width: 88px;
    background-color: var(--input_background);
    text-align: center;
    padding: 2px;
    color:var(--light_colors) ;
    font-weight: bold;
   
}


.Mortgage-type{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Mortgage-type p{
    font-size: 13px;
    font-weight: 700;
    color: var(--bold_colors);
    margin-bottom: 3px;
}

.mortage-radio-style{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--bold_colors);
    width: 85%;
    height: 5vh;
    border-radius: 4px;
    padding-left: 10px;
    
}
.mortage-radio-style input{
    cursor: pointer;

}



.mortage-radio-style label{
    color:var(--bold_colors);
    font-weight: 900;
    font-size: 12px;
}



button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem ;
    border-radius: 20px;
    background:var(--gold);
    border: none;
    color:var(--bold_colors);
    height: 5.5vh;
    width: 15vw;
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 2rem;
    cursor: pointer;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    transition: transform 0.6s ; 
    z-index: 20;
    text-align: center;
}
#valid{
  z-index: 10;
 margin-top: 4rem;
 margin-left: 3rem;
 height: 40vh;
 width: 30vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background-color: var(--inner_background);
  color:var(--text);
  font-weight: 900;
  
 
}
 .overlay{
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--overlay);
transition: 0.6s;
}
    


 .container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--inner_background);
    height: 68vh;
    width: 50%;
    border-radius:0 20px 20px 60px;
    padding-left: 10px;
}  




.text-container{
  margin-top: 1.5rem;
  max-width: 85%;
}

.text-container h4{
    color: var(--text);
    margin-bottom: 0.8rem;
}

.text-container p{
    font-size: 13px;
    font-weight: 300;
    color:var(--text) ;
}


.result-container{
    margin-top: 2rem;
    border: none;
    box-shadow: 3px 5px var(--gold);
    width: 85%;
    height: 35vh;
    border-radius: 10px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.result-container .monthly{
    font-size: 13px;
    color:var(--text) ;
    margin-bottom: 0.8rem;
}

.result h2{
    font-size: 30px;
    color: var(--gold);
    margin-bottom:3rem ;
    border-bottom: 0.5px solid var(--input_background);
    height: 10vh;
    width: 15vw;
}

.Total{
    color: var(--text); 
    font-size: 13px
}

.yearly-result{
    margin-top: 0.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 765px) {
  
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0.3rem;
     }

     .butcal{
        width: 50vw;
        padding: 20px;
     }
 
     .container-1{
         width: 100%;
     }
   .mortage-team-flex{
    margin-inline-end: 150px;
   }
   .mortage-team-input-style-1{
        background: transparent;  
     
   }
   .mortage-team-input-style-1 input{
    background: transparent;  
    width: 10vw;
 
}
   .container-2 {
    width: 100%;
    border-radius: 26px 26px 0 0;
   }
   .mortage-team-input-style-2 {
    width: fit-content;
    margin-left: 2rem;

   }

   .inner-mortage-team-input-style input {
    width: 12vw;
    
    margin-left: 1.5rem;
   }

   #valid{
   width: 90vw;
    padding: 0;
    margin: 0;
   }
   #goBack{
    width: 40vw;
   }
   .theme{
    top: 1rem;
    right: 0;
    padding: 10px;
   }
   #mortage-calcultor #clear{
    margin-right: 10rem;
   }
}
  
